<div class="loginmodal">
  <div class="containertabs-login">
    <a href="#" class="btn-close-modal w-button" data-ix="closemodal">X</a>
    <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="w-tabs">
      <div class="registrotabs-menu w-tab-menu">
        <a data-w-tab="Tab 1" class="logintab w-inline-block w-tab-link w--current">
          <div>Registrarme</div>
        </a>
        <a data-w-tab="Tab 2" class="logintab w-inline-block w-tab-link">
          <div>Iniciar Sesión</div>
        </a>
      </div>
      <div class="w-tab-content">
        <div data-w-tab="Tab 1" class="infotab w-tab-pane w--tab-active">
          <div class="loginpopform w-form">
            <form id="wf-form-tycaccept" name="wf-form-tycaccept" data-name="tycaccept" method="get" class="contenidoformlog" data-wf-page-id="6667390ff463b82d886d3909" data-wf-element-id="36560640-50db-b709-14b5-3d49b98480b2">
              <p class="txtlogin">Regístrate para crear tu cuenta, crea una lista de favoritos, da seguimiento a tus pedidos y muchos beneficios más.</p><input class="loginreg-field w-input" maxlength="256" name="Nombre-2" data-name="Nombre 2" placeholder="Nombre" type="text" id="Nombre-2" required=""><input class="loginreg-field w-input" maxlength="256" name="Apellido-2" data-name="Apellido 2" placeholder="Apellido" type="text" id="Apellido-2" required=""><input class="loginreg-field mail w-input" maxlength="256" name="correo-3" data-name="Correo 3" placeholder="Correo electrónico" type="email" id="correo-3" required=""><input class="loginreg-field pass w-input" maxlength="256" name="Password-3" data-name="Password 3" placeholder="Contraseña" type="password" id="Password-3" required=""><input type="submit" data-wait="Please wait..." class="loginpopbtn w-button" value="Crear cuenta"><label class="w-checkbox accept-tyc">
                <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div><input type="checkbox" name="checkbox-2" id="checkbox-2" data-name="Checkbox 2" required="" style="opacity:0;position:absolute;z-index:-1"><span class="labelcheck-tyc w-form-label" for="checkbox-2">
                  <a href="#" class="tycregister-labellink">Acepto términos y condiciones</a>
                </span>
              </label>
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 2" class="infotab w-tab-pane">
          <div class="loginpopform w-form">
            <form id="email-form-4" name="email-form-4" data-name="Email Form 4" method="get" class="contenidoformlog" data-wf-page-id="6667390ff463b82d886d3909" data-wf-element-id="36560640-50db-b709-14b5-3d49b98480c7">
              <p class="txtlogin">Si ya tienes una cuenta con nosotros, inicia sesión aquí</p><input class="loginreg-field mail w-input" maxlength="256" name="correo-2" data-name="Correo 2" placeholder="Correo electrónico" type="email" id="correo-2" required=""><input class="loginreg-field pass w-input" maxlength="256" name="Password-2" data-name="Password 2" placeholder="Contraseña" type="password" id="Password-2" required=""><input type="submit" data-wait="Please wait..." class="loginpopbtn w-button" value="Iniciar sesión">
              <a href="#" class="frgtpassword">Olvidé mi contraseña</a>
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>