<div>
  <button id="btnjugadores" class="pbutton">Jugador</button>
</div>

<div id="jugadores" class="hidden">
  <select name="properties[Jugador]" id="plylist">
    <option value="test">test</option>
  </select>
</div>

<div>
  <button class="pbutton" id="personaliced">Personalizar</button>
</div>

<div id="personalicedinfo" class="hidden">
  <label class="plabel" for="personalizedname">Nombre:</label>
  <input class="pinput" id="personalizedname" maxlength="6" type="text" name="properties[Nombre]" form="product-form-{{ section.id }}">
  <label class="plabel" for="personalizednumber">Numero:</label>
  <input class="pinput" id="personalizednumber" maxlength="2" type="text" name="properties[Numero]" form="product-form-{{ section.id }}">
</div>

<script>
  window.addEventListener('load',()=>{
    var boton = document.querySelector('#personaliced');
    var btnply = document.querySelector('#btnjugadores');
    var contenedor = document.querySelector('#personalicedinfo');
    var contplay = document.querySelector('#jugadores');
    var allElements = document.querySelectorAll('[role="presentation"]');
    var lastElement = allElements[allElements.length-1];
    var firstElement = allElements[0];
    console.log(lastElement);

    boton.addEventListener('click', function() {
      contenedor.classList.toggle('hidden');
      boton.classList.toggle('checked');

      if (!contplay.classList.contains('hidden')) {
        contplay.classList.toggle('hidden');
        btnply.classList.toggle('checked');
      }

      allElements.forEach(function(element) {
          element.classList.remove('is-active');
      });
      lastElement.classList.add('is-active');
    });


    btnply.addEventListener('click',()=>{
      contplay.classList.toggle('hidden');
      btnply.classList.toggle('checked');

      if (!contenedor.classList.contains('hidden')) {
        contenedor.classList.toggle('hidden');
        boton.classList.toggle('checked');
      }

    });
  });

  function updateField(inputSelector, outputSelector) {
    var inputElement = document.querySelector(inputSelector);
    var outputElement = document.querySelector(outputSelector);

    inputElement.addEventListener('input', function() {
        outputElement.innerHTML = inputElement.value;
        console.log(inputElement.value);
    });
  }
  updateField('#personalizedname', '#suptext');
  updateField('#personalizednumber', '#supnum');
</script> 