<div>
  <button class="pbutton" id="personaliced">Personalizar</button>
</div>

<div id="personalicedinfo" class="hidden">
  <label class="plabel" for="personalizedname">Nombre:</label>
  <input class="pinput" id="personalizedname" type="text" name="properties[Nombre]" form="product-form-{{ section.id }}">
  <label class="plabel" for="personalizednumber">Numero:</label>
  <input class="pinput" id="personalizednumber" maxlength="2" type="number" name="properties[Numero]" form="product-form-{{ section.id }}">
</div>

<script>
  var boton = document.querySelector('#personaliced');
  var contenedor = document.querySelector('#personalicedinfo');

  boton.addEventListener('click',function(){
    contenedor.classList.toggle('hidden');
    boton.classList.add('checked');
  });

  var inputName = document.querySelector('#personalizedname');
var inputNumber = document.querySelector('#personalizednumber');

inputName.addEventListener('input', function(event) {
    var nameSpace = document.querySelector('#suptext');
    var currentValue = inputName.value;
    nameSpace.innerHTML = currentValue;  // Asigna el valor actual del input a innerHTML
    console.log(currentValue);
});

inputNumber.addEventListener('input', function(event) {
    var numberSpace = document.querySelector('#supnum');
    var currentValue = inputNumber.value;
    numberSpace.innerHTML = currentValue;  // Asigna el valor actual del input a innerHTML
    console.log(currentValue);
});



</script> 

