<div>
  <button class="pbutton" id="personaliced">Personalizar</button>
</div>

<div id="personalicedinfo" class="hidden">
  <label class="plabel" for="personalizedname">Nombre:</label>
  <input class="pinput" id="personalizedname" type="text" name="properties[Nombre]" form="product-form-{{ section.id }}">
  <label class="plabel" for="personalizednumber">Numero:</label>
  <input class="pinput" id="personalizednumber" type="text" name="properties[Numero]" form="product-form-{{ section.id }}">
</div>

<script>
  var boton = document.querySelector('#personaliced');
  var contenedor = document.querySelector('#personalicedinfo');

  boton.addEventListener('click',function(){
    contenedor.classList.toggle('hidden');
    boton.classList.add('checked');
  });

var inputName = document.querySelector('#personalizedname');
var inputNumber = document.querySelector('#personalizednumber');
var names = [];
var numbers = [];

inputName.addEventListener('keyup', function(event) {
    var nameSpace = document.querySelector('#suptext');
    // Verificar si la tecla presionada es una letra
    if (event.key.length === 1) {
        names.push(event.key);
    } else if (event.key === 'Backspace') {
        names.pop();
    }
    nameSpace.innerHTML = names.join('');  // Convertir el array en una cadena antes de asignar a innerHTML
    console.log(names);
});

inputNumber.addEventListener('keyup', function(event) {
    var numberSpace = document.querySelector('#supnum');
    // Verificar si la tecla presionada es un número
    if (!isNaN(event.key) && event.key.length === 1) {
        numbers.push(event.key);
    } else if (event.key === 'Backspace') {
        numbers.pop();
    }
    numberSpace.innerHTML = numbers.join('');  // Convertir el array en una cadena antes de asignar a innerHTML
    console.log(numbers);
});


</script> 

