<div>
  <button class="pbutton" id="personaliced">Personalizar</button>
</div>

<div id="personalicedinfo" class="hidden">
  <label class="plabel" for="personalizedname">Nombre:</label>
  <input class="pinput" id="personalizedname" type="text" name="properties[Nombre]" form="product-form-{{ section.id }}">
  <label class="plabel" for="personalizednumber">Numero:</label>
  <input class="pinput" id="personalizednumber" type="text" name="properties[Numero]" form="product-form-{{ section.id }}">
</div>

<script>
  var boton = document.querySelector('#personaliced');
  var contenedor = document.querySelector('#personalicedinfo');

  boton.addEventListener('click',function(){
    contenedor.classList.toggle('hidden');
    boton.classList.add('checked');
  });

  var inputName = document.querySelector('#personalizedname');
  var inputNumber = document.querySelector('#personalizednumber');
  var name = [];
  var number = [];

  inputName.addEventListener('keyup', function(event){
    var nameSpace = document.querySelector('#suptext');
    name.push(String.fromCharCode(event.keyCode));
    nameSpace.innerHTML(name);
    console.log(name)
  });

  inputNumber.addEventListener('keyup', function(event){
    var numberSpace = document.querySelector('#supnum');
    number.push(String.fromCharCode(event.keyCode));
    numberSpace.innerHTML(number);
    console.log(number);
  });
</script> 

