<div>
  <button class="pbutton" id="personaliced">Personalizar</button>
</div>

<div id="personalicedinfo" class="hidden">
  <label class="plabel" for="personalizedname">Nombre:</label>
  <input class="pinput" id="personalizedname" type="text" name="properties[Nombre]" form="product-form-{{ section.id }}">
  <label class="plabel" for="personalizednumber">Numero:</label>
  <input class="pinput" id="personalizednumber" maxlength="2" type="number" name="properties[Numero]" form="product-form-{{ section.id }}">
</div>

<script>
  window.addEventListener('load',()=>{
    var boton = document.querySelector('#personaliced');
    var contenedor = document.querySelector('#personalicedinfo');
    var allElements = document.querySelectorAll('[data-media-id]');
    var lastElement = allElements[allElements.length-1];
    console.log(lastElement);
    boton.addEventListener('click', function() {
      contenedor.classList.toggle('hidden');
      boton.classList.toggle('checked');
      lastElement.classList.add('is-active');
    });
  });

  function updateField(inputSelector, outputSelector) {
    var inputElement = document.querySelector(inputSelector);
    var outputElement = document.querySelector(outputSelector);

    inputElement.addEventListener('input', function() {
        outputElement.innerHTML = inputElement.value;
        console.log(inputElement.value);
    });
  }
  updateField('#personalizedname', '#suptext');
  updateField('#personalizednumber', '#supnum');
</script> 