<div>
  <button class="pbutton" id="personaliced">Personalizar</button>
</div>

<div id="personalicedinfo" class="hidden">
  <label class="plabel" for="personalizedname">Nombre:</label>
  <input class="pinput" id="personalizedname" type="text" name="properties[Nombre]" form="product-form-{{ section.id }}">
  <label class="plabel" for="personalizednumber">Numero:</label>
  <input class="pinput" id="personalizednumber" maxlength="2" type="number" name="properties[Numero]" form="product-form-{{ section.id }}">
</div>

<script>
  window.addEventListener('load',()=>{
    var boton = document.querySelector('#personaliced');
    var contenedor = document.querySelector('#personalicedinfo');

    boton.addEventListener('click', function() {
      contenedor.classList.toggle('hidden');
      boton.classList.toggle('checked');

      // Obtener el último elemento de la lista de imágenes
      const allMedia = document.querySelectorAll('[data-media-id]');
      if (allMedia.length > 0) {
          const lastMediaElement = allMedia[allMedia.length - 1];
          const lastMediaId = lastMediaElement.getAttribute('data-media-id');

          // Llamar a setActiveMedia con el mediaId del último elemento
          setActiveMedia(lastMediaId);
          console.log(lastMediaId);
      }
    });
  });

  function updateField(inputSelector, outputSelector) {
    var inputElement = document.querySelector(inputSelector);
    var outputElement = document.querySelector(outputSelector);

    inputElement.addEventListener('input', function() {
        outputElement.innerHTML = inputElement.value;
        console.log(inputElement.value);
    });
  }
  updateField('#personalizedname', '#suptext');
  updateField('#personalizednumber', '#supnum');
</script> 