<div>
  <button class="pbutton" id="personaliced">Personalizar</button>
</div>

<div id="personalicedinfo" class="hidden">
  <label for="personalizedname">Campo personalizado</label>
  <input id="personalizedname" type="text" name="properties[Nombre]" form="product-form-{{ section.id }}"> 

  <label for="personalizednumber">Campo personalizado</label>
  <input id="personalizednumber" type="text" name="properties[Numero]" form="product-form-{{ section.id }}">
</div>

<script>
  var boton = document.querySelector('#personaliced');
  var contenedor = document.querySelector('#personalicedinfo');

  boton.addEventListener('click',function(){
    contenedor.classList.remove('hidden');
    boton.classList.add('checked');
  });
</script> 