<div id="info-{{ section.id }}" role="status" class="hidden">
      <div style="height: 20px; width:100%; margin-bottom: 30px;">
        <h2>Nombre:</h2>
    </div>
    <div style="border: 1px solid black; height: 50px; width: 100%">
        <input form="{{ product_form_id }}" type="text" style="height: 100%; width: 100%" name="properties[Nombre]">
    </div>
    <div style="height: 20px; width:100%; margin-bottom: 30px;">
        <h2>Numero: </h2>
    </div>
    <div style="border: 1px solid black; height: 50px; width: 100%">
        <input form="{{ product_form_id }}" type="text" style="height: 100%; width: 100%" name="properties[Numero]">
    </div>
</div>