{% assign bannerscount = section.blocks| size %}

<div data-delay="4000" data-animation="slide" class="mainslider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
  <div class="w-slider-mask">
    <div class="element-slide w-slide">
      <a href="#" class="linkmainbanner w-inline-block"><img alt="" src="{{ "banner-desktop.jpeg" | asset_url }}"   class="bannerimg"></a>
    </div>
    <div class="element-slide w-slide">
      <a href="#" class="linkmainbanner w-inline-block"><img alt="" src="{{ "banner-escritorio.jpeg" | asset_url }}"   class="bannerimg"></a>
    </div>
  </div>
  <div class="arrowmainslider w-slider-arrow-left">
    <div class="w-icon-slider-left"></div>
  </div>
  <div class="arrowmainslider w-slider-arrow-right">
    <div class="w-icon-slider-right"></div>
  </div>
  <div class="navigationdots w-slider-nav w-round"></div>
</div>
<div data-delay="4000" data-animation="cross" class="mainslider mobile w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="true" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
  <div class="w-slider-mask">
    <div class="element-slide w-slide">
      <a href="#" class="linkmainbanner w-inline-block"><img src="{{ "banner-mobile.jpeg" | asset_url }}"   alt="" class="bannerimg"></a>
    </div>
    <div class="element-slide w-slide">
      <a href="#" class="linkmainbanner w-inline-block"><img src="{{ "banner-mobile.jpeg" | asset_url }}"   alt="" class="bannerimg"></a>
    </div>
  </div>
  <div class="arrowmainslider w-slider-arrow-left">
    <div class="w-icon-slider-left"></div>
  </div>
  <div class="arrowmainslider w-slider-arrow-right">
    <div class="w-icon-slider-right"></div>
  </div>
  <div class="navigationdots w-slider-nav"></div>
</div>


{% schema %}
{
"name": "Carrusel de Banners",
"class": "index-section",
"max_blocks": 10,
"blocks": [
{
"type": "image",
"name": "Banner",
"settings": [
{
"type": "image_picker",
"id": "image-desktop-version",
"label": "Imagen para escritorio"
},
{
"type": "image_picker",
"id": "image-mobile-version",
"label": "Imagen para móvil"
},
{
"type": "url",
"id": "link",
"label": "URL"
}
]
}
],
"presets": [
{
"name": "Carrusel de Banners",
"category": "Image"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}