<div class="seccsociosc">
  <div class="custom-container">
    <div class="maintitle-cont">
      <h2 class="maintitle">{{ section.settings.title }}</h2>
    </div>
    <div class="contsocioslogos">

    {% for block in section.blocks %}
      <div class="contlogo"><img src="{{ block.settings.image |  image_url }}"   alt="{{ block.settings.image.alt }}" class="logosocio"></div>
    {% endfor %}
      
    </div>
  </div>
</div>

{% schema  %}
{
  "name": "Asociados",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titulo de seccion",
      "default": "SOCIOS <span class='redtxttitle'>COMERCIALES</span>"
    }
  ],
  "max_blocks": 9,
  "blocks": [
     {
      "type": "image",
      "name": "Socio",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo de Asociado"
        }
      ]
     }
   ],
  "presets": [
    {
      "name": "Asociados"
    }
  ]
}
{% endschema %}