<div class="seccmasbuscados">
  <div class="custom-container">
    <div class="maintitle-cont">
      <h2 class="maintitle">LOS MÁS <span class="redtxttitle">BUSCADOS</span></h2>
    </div>
    <div id="w-node-_1ff1a483-2fd9-964c-e61a-a7541d17a537-ba5351bb" class="w-layout-layout stack-masbuscados wf-layout-layout">
      <div id="w-node-_1ff1a483-2fd9-964c-e61a-a7541d17a538-ba5351bb" class="w-layout-cell cardimg-coleccion">
        <a href="#" class="cardlink w-inline-block"><img src="{{ "categoria_hombre.png" | asset_url }}"   alt="" class="cardimg">
          <h3 class="titlecard"><strong>HOMBRE</strong></h3>
        </a>
      </div>
      <div id="w-node-_1ff1a483-2fd9-964c-e61a-a7541d17a539-ba5351bb" class="w-layout-cell cardimg-coleccion">
        <a href="#" class="cardlink w-inline-block"><img src="{{ "categoria_jersey.png" | asset_url }}"   alt="" class="cardimg">
          <h3 class="titlecard"><strong>JERSEYS</strong></h3>
        </a>
      </div>
      <div id="w-node-ca82464e-95dd-529e-cb63-c99b90b22cef-ba5351bb" class="w-layout-cell cardimg-coleccion">
        <a href="#" class="cardlink w-inline-block"><img src="{{ "categoria_mujer.png" | asset_url }}"   alt="" class="cardimg">
          <h3 class="titlecard"><strong>MUJER</strong></h3>
        </a>
      </div>
    </div>
  </div>
</div>

{% schema  %}
{
  "name": "Lista de colecciones",
  "settings": [],
  "max_blocks": 1,
  "blocks": [
     {
      "type": "",
      "name": "",
      "settings": []
     }
   ]
}
{% endschema %}