<div class="seccblog">
  <div class="custom-container">
    <div class="titlecontainer">
      <h5 class="mainsecctitle">Nuestro <strong class="boldtitles">Blog</strong></h5>
    </div>
    <div id="w-node-_6b3bf3fc-f8a2-8114-5330-66c7eea3f470-9ad7c4e7" class="w-layout-layout blogstack wf-layout-layout">
      <div id="w-node-_6b3bf3fc-f8a2-8114-5330-66c7eea3f471-9ad7c4e7" class="w-layout-cell cellblog">
        <div id="w-node-_6b3bf3fc-f8a2-8114-5330-66c7eea3f472-9ad7c4e7" class="w-layout-layout elementblog-home wf-layout-layout">
          <div id="w-node-_6b3bf3fc-f8a2-8114-5330-66c7eea3f473-9ad7c4e7" class="w-layout-cell imgbloggrid"></div>
          <div id="w-node-_6b3bf3fc-f8a2-8114-5330-66c7eea3f474-9ad7c4e7" class="w-layout-cell infocell">
            <div class="continfoblog">
              <div class="dateblog">12/ Febrero/ 2024</div>
              <h6 class="blogtitle">Este es un título muestra para el blog.</h6>
              <a href="#" class="vermasblog w-inline-block">
                <div class="txtbtnblog">Concer más</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="w-node-_6b3bf3fc-f8a2-8114-5330-66c7eea3f47e-9ad7c4e7" class="w-layout-cell cellblog">
        <div id="w-node-_6b3bf3fc-f8a2-8114-5330-66c7eea3f47f-9ad7c4e7" class="w-layout-layout elementblog-home wf-layout-layout">
          <div id="w-node-_6b3bf3fc-f8a2-8114-5330-66c7eea3f480-9ad7c4e7" class="w-layout-cell imgbloggrid"></div>
          <div id="w-node-_6b3bf3fc-f8a2-8114-5330-66c7eea3f481-9ad7c4e7" class="w-layout-cell infocell">
            <div class="continfoblog">
              <div class="dateblog">12/ Febrero/ 2024</div>
              <h6 class="blogtitle">Este es un título muestra para el blog  título muestra para  título muestra para título muestra para título muestra para título muestra </h6>
              <a href="#" class="vermasblog w-inline-block">
                <div class="txtbtnblog">Concer más</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
"name": "Articulos del Blog",
"class": "index-section",
"settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Titulo de seccion",
    "default": "Con bomuca <strong class='boldtitles'>#LaSaludTeSigue</strong>"
  },{
    "type": "blog",
    "id": "blog",
    "label": "Blog"
  }
],
"presets": [
{
"name": "Articulos del Blog"
}
]
}
{% endschema %}