<div class="seccproductos">
  <div class="custom-container">
    <div data-delay="4000" data-animation="slide" class="product-sliderbase w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
      <div class="w-slider-mask">
        <div class="slide-producto w-slide">
          <div class="container-producto">
            <div class="etiquetas-prod">NUEVO</div>
            <div class="etiquetas-prod oferta">25% OFF</div>
            <a href="#" class="linkproducto w-inline-block">
              <div class="imgback"></div>
              <div class="imgfront"></div>
            </a>
            <div class="container-titleandtags">
              <div class="etiquetas-prod agotado">AGOTADO</div>
              <a href="#" class="nombre-producto">Bio Baby Pañales, Talla XCH, 28 Pañales Desechables</a>
            </div>
            <div class="precios-container">
              <div class="precio-regular">$ 101.00</div>
              <div class="precio-oferta">$ 95.00</div>
            </div>
            <div class="quickaddcont">
              <div class="form-block w-form">
                <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="vip-variacinqty-selection miniatura" data-wf-page-id="6667390ff463b82d886d3909" data-wf-element-id="1681b935-7d69-3cb9-c1bb-9d9c9e259d94">
                  <div class="cont-variacion miniatura w-clearfix">
                    <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input miniatura w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2" required="">
                    <a href="#" class="boton_cant mas miniatura w-button">+</a>
                  </div><input type="submit" data-wait="" class="btn-vip agregar miniatura w-button" value="">
                </form>
                <div class="w-form-done"></div>
                <div class="w-form-fail"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="products-slidenav w-slider-nav w-round"></div>
    </div>
    <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="w-tabs">
      <div class="w-tab-menu">
        <a data-w-tab="Tab 1" class="regulartab w-inline-block w-tab-link w--current">
          <div>Ofertas</div>
        </a>
        <a data-w-tab="Tab 2" class="regulartab middle w-inline-block w-tab-link">
          <div>Cuidado personal</div>
        </a>
        <a data-w-tab="Tab 3" class="regulartab w-inline-block w-tab-link">
          <div>Cuidado Cabello</div>
        </a>
      </div>
      <div class="w-tab-content">
        <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
          <div class="html-productos-owl w-embed">
            <div class="owl-carousel productosowl owl-theme" id="sync2">
              <div class="container-producto">
                <div class="etiquetas-prod">NUEVO</div>
                <div class="etiquetas-prod oferta">25% OFF</div>
                <a href="#" class="linkproducto w-inline-block">
                  <div class="imgback"></div>
                  <div class="imgfront"></div>
                </a>
                <div class="container-titleandtags">
                  <div class="etiquetas-prod agotado">AGOTADO</div>
                  <a href="#" class="nombre-producto">Bio Baby Pañales, Talla XCH, 28 Pañales Desechables</a>
                </div>
                <div class="precios-container">
                  <div class="precio-regular">$ 101.00</div>
                  <div class="precio-oferta">$ 95.00</div>
                </div>
                <div class="quickaddcont">
                  <div class="form-block w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="vip-variacinqty-selection miniatura" data-wf-page-id="6667390ff463b82d886d3909" data-wf-element-id="1681b935-7d69-3cb9-c1bb-9d9c9e259d94" aria-label="Email Form">
                      <div class="cont-variacion miniatura w-clearfix">
                        <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input miniatura w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2" required="">
                        <a href="#" class="boton_cant mas miniatura w-button">+</a>
                      </div><input type="submit" data-wait="" class="btn-vip agregar miniatura w-button" value="">
                    </form>
                    <div class="w-form-done" role="region" aria-label="Email Form success"></div>
                    <div class="w-form-fail" role="region" aria-label="Email Form failure"></div>
                  </div>
                </div>
              </div>
              <div class="container-producto">
                <div class="etiquetas-prod">NUEVO</div>
                <div class="etiquetas-prod oferta">25% OFF</div>
                <a href="#" class="linkproducto w-inline-block">
                  <div class="imgback"></div>
                  <div class="imgfront"></div>
                </a>
                <div class="container-titleandtags">
                  <div class="etiquetas-prod agotado">AGOTADO</div>
                  <a href="#" class="nombre-producto">Bio Baby Pañales, Talla XCH, 28 Pañales Desechables</a>
                </div>
                <div class="precios-container">
                  <div class="precio-regular">$ 101.00</div>
                  <div class="precio-oferta">$ 95.00</div>
                </div>
                <div class="quickaddcont">
                  <div class="form-block w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="vip-variacinqty-selection miniatura" data-wf-page-id="6667390ff463b82d886d3909" data-wf-element-id="1681b935-7d69-3cb9-c1bb-9d9c9e259d94" aria-label="Email Form">
                      <div class="cont-variacion miniatura w-clearfix">
                        <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input miniatura w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2" required="">
                        <a href="#" class="boton_cant mas miniatura w-button">+</a>
                      </div><input type="submit" data-wait="" class="btn-vip agregar miniatura w-button" value="">
                    </form>
                    <div class="w-form-done" role="region" aria-label="Email Form success"></div>
                    <div class="w-form-fail" role="region" aria-label="Email Form failure"></div>
                  </div>
                </div>
              </div>
              <div class="container-producto">
                <div class="etiquetas-prod">NUEVO</div>
                <div class="etiquetas-prod oferta">25% OFF</div>
                <a href="#" class="linkproducto w-inline-block">
                  <div class="imgback"></div>
                  <div class="imgfront"></div>
                </a>
                <div class="container-titleandtags">
                  <div class="etiquetas-prod agotado">AGOTADO</div>
                  <a href="#" class="nombre-producto">Bio Baby Pañales, Talla XCH, 28 Pañales Desechables</a>
                </div>
                <div class="precios-container">
                  <div class="precio-regular">$ 101.00</div>
                  <div class="precio-oferta">$ 95.00</div>
                </div>
                <div class="quickaddcont">
                  <div class="form-block w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="vip-variacinqty-selection miniatura" data-wf-page-id="6667390ff463b82d886d3909" data-wf-element-id="1681b935-7d69-3cb9-c1bb-9d9c9e259d94" aria-label="Email Form">
                      <div class="cont-variacion miniatura w-clearfix">
                        <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input miniatura w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2" required="">
                        <a href="#" class="boton_cant mas miniatura w-button">+</a>
                      </div><input type="submit" data-wait="" class="btn-vip agregar miniatura w-button" value="">
                    </form>
                    <div class="w-form-done" role="region" aria-label="Email Form success"></div>
                    <div class="w-form-fail" role="region" aria-label="Email Form failure"></div>
                  </div>
                </div>
              </div>
              <div class="container-producto">
                <div class="etiquetas-prod">NUEVO</div>
                <div class="etiquetas-prod oferta">25% OFF</div>
                <a href="#" class="linkproducto w-inline-block">
                  <div class="imgback"></div>
                  <div class="imgfront"></div>
                </a>
                <div class="container-titleandtags">
                  <div class="etiquetas-prod agotado">AGOTADO</div>
                  <a href="#" class="nombre-producto">Bio Baby Pañales, Talla XCH, 28 Pañales Desechables</a>
                </div>
                <div class="precios-container">
                  <div class="precio-regular">$ 101.00</div>
                  <div class="precio-oferta">$ 95.00</div>
                </div>
                <div class="quickaddcont">
                  <div class="form-block w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="vip-variacinqty-selection miniatura" data-wf-page-id="6667390ff463b82d886d3909" data-wf-element-id="1681b935-7d69-3cb9-c1bb-9d9c9e259d94" aria-label="Email Form">
                      <div class="cont-variacion miniatura w-clearfix">
                        <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input miniatura w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2" required="">
                        <a href="#" class="boton_cant mas miniatura w-button">+</a>
                      </div><input type="submit" data-wait="" class="btn-vip agregar miniatura w-button" value="">
                    </form>
                    <div class="w-form-done" role="region" aria-label="Email Form success"></div>
                    <div class="w-form-fail" role="region" aria-label="Email Form failure"></div>
                  </div>
                </div>
              </div>
              <div class="container-producto">
                <div class="etiquetas-prod">NUEVO</div>
                <div class="etiquetas-prod oferta">25% OFF</div>
                <a href="#" class="linkproducto w-inline-block">
                  <div class="imgback"></div>
                  <div class="imgfront"></div>
                </a>
                <div class="container-titleandtags">
                  <div class="etiquetas-prod agotado">AGOTADO</div>
                  <a href="#" class="nombre-producto">Bio Baby Pañales, Talla XCH, 28 Pañales Desechables</a>
                </div>
                <div class="precios-container">
                  <div class="precio-regular">$ 101.00</div>
                  <div class="precio-oferta">$ 95.00</div>
                </div>
                <div class="quickaddcont">
                  <div class="form-block w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="vip-variacinqty-selection miniatura" data-wf-page-id="6667390ff463b82d886d3909" data-wf-element-id="1681b935-7d69-3cb9-c1bb-9d9c9e259d94" aria-label="Email Form">
                      <div class="cont-variacion miniatura w-clearfix">
                        <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input miniatura w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2" required="">
                        <a href="#" class="boton_cant mas miniatura w-button">+</a>
                      </div><input type="submit" data-wait="" class="btn-vip agregar miniatura w-button" value="">
                    </form>
                    <div class="w-form-done" role="region" aria-label="Email Form success"></div>
                    <div class="w-form-fail" role="region" aria-label="Email Form failure"></div>
                  </div>
                </div>
              </div>
              <div class="container-producto">
                <div class="etiquetas-prod">NUEVO</div>
                <div class="etiquetas-prod oferta">25% OFF</div>
                <a href="#" class="linkproducto w-inline-block">
                  <div class="imgback"></div>
                  <div class="imgfront"></div>
                </a>
                <div class="container-titleandtags">
                  <div class="etiquetas-prod agotado">AGOTADO</div>
                  <a href="#" class="nombre-producto">Bio Baby Pañales, Talla XCH, 28 Pañales Desechables</a>
                </div>
                <div class="precios-container">
                  <div class="precio-regular">$ 101.00</div>
                  <div class="precio-oferta">$ 95.00</div>
                </div>
                <div class="quickaddcont">
                  <div class="form-block w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="vip-variacinqty-selection miniatura" data-wf-page-id="6667390ff463b82d886d3909" data-wf-element-id="1681b935-7d69-3cb9-c1bb-9d9c9e259d94" aria-label="Email Form">
                      <div class="cont-variacion miniatura w-clearfix">
                        <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input miniatura w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2" required="">
                        <a href="#" class="boton_cant mas miniatura w-button">+</a>
                      </div><input type="submit" data-wait="" class="btn-vip agregar miniatura w-button" value="">
                    </form>
                    <div class="w-form-done" role="region" aria-label="Email Form success"></div>
                    <div class="w-form-fail" role="region" aria-label="Email Form failure"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 2" class="w-tab-pane"></div>
        <div data-w-tab="Tab 3" class="w-tab-pane"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
   "name": "Colecciones",
   "class": "index-section",
   "max_blocks": 10,
   "blocks": [
     {
       "type": "image",
       "name": "Banner",
       "settings":  [
         {
           "type": "image_picker",
           "id": "image-desktop-version",
           "label": "Imagen para escritorio"
         },
         {
           "type": "image_picker",
           "id": "image-mobile-version",
           "label": "Imagen para móvil"
         },
         {
           "type": "url",
           "id": "link",
           "label": "URL"
         }
       ]
     }
   ],
  "presets": [
      {
        "name": "colecciones",
        "category": "Image"
      }
    ]
  }
{% endschema %}