<div class="recomendaciones">
  <div class="custom-container">
    <div class="titlecontainer">
      <h4 class="mainsecctitle">Productos destacados</h4>
    </div>
    <div id="w-node-_0f2a6437-48b6-9ae9-b35f-e45985d36452-9ad7c4e7" class="w-layout-layout stackrecomendaciones wf-layout-layout">
      <div id="w-node-_0f2a6437-48b6-9ae9-b35f-e45985d36453-9ad7c4e7" class="w-layout-cell cellrecomendacion">
        <a href="#" class="contrecomendacion w-inline-block"><img alt="" src="{{ "destacado_flejes.png" | asset_url }}"   class="imgrecomendacion">
          <div class="contindorec">
            <h5 class="subrecomend">De poliuretano de alta resistencia</h5>
            <h4 class="titlerecomend">Fleje</h4>
            <div class="outlinebtn">Ver productos</div>
          </div>
        </a>
      </div>
      <div id="w-node-_0f2a6437-48b6-9ae9-b35f-e45985d3645d-9ad7c4e7" class="w-layout-cell cellrecomendacion">
        <a href="#" class="contrecomendacion w-inline-block"><img alt="" src="{{ "destacado_cintas.png" | asset_url }}"   class="imgrecomendacion">
          <div class="contindorec">
            <h5 class="subrecomend">Adhesivas de alta calidad para embalaje.</h5>
            <h4 class="titlerecomend">Cintas</h4>
            <div class="outlinebtn">Ver productos</div>
          </div>
        </a>
      </div>
      <div id="w-node-_0f2a6437-48b6-9ae9-b35f-e45985d36467-9ad7c4e7" class="w-layout-cell cellrecomendacion">
        <a href="#" class="contrecomendacion w-inline-block"><img alt="" src="{{ "destacado_rollos.png" | asset_url }}"   class="imgrecomendacion">
          <div class="contindorec">
            <h5 class="subrecomend">Película para too tipo de embalaje</h5>
            <h4 class="titlerecomend">Rollos</h4>
            <div class="outlinebtn">Ver productos</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>



{% schema %}
{
"name": "Lista de Colecciones",
"class": "index-section",
"settings": [
{
"type": "text",
"id": "title",
"label": "Titulo de seccion",
"default": "Recomendaciones <strong class='boldtitles'>bomuca<sup>®</sup></strong>"
}
],
"max_blocks": 3,
"blocks": [
{
"type": "card",
"name": "Coleccion",
"settings": [
  {
  "type": "color_background",
  "id": "bg_color",
  "label": "Color de fondo",
  "info": "Ingresar aqui soló el codigo Hex,RGB ó RGBA",
  "default": "#ebfce2"
},{
"type": "image_picker",
"id": "card_image",
"label": "Imagen"
},{
"type": "textarea",
"id": "card_description",
"label": "Descripcion"
},{
"type": "text",
"id": "card_title",
"label": "Título"
},{
"type": "url",
"id": "card_link",
"label": "Coleccion Url"
}
]
}
],
"presets": [
{
"name": "Lista de Colecciones"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}