<footer>
  <div class="customfooter">
    <div class="custom-container">
      <a href="#" class="linkfooterlogo w-inline-block"><img src="{{ " PADN-fullcolor.png" | asset_url }}"alt=""
          class="logofooter"></a>
      <div id="w-node-a5f7fa89-a91d-90ee-415b-86a697130b65-97130b61"
        class="w-layout-layout stackfooter wf-layout-layout">
        <div id="w-node-a5f7fa89-a91d-90ee-415b-86a697130b66-97130b61" class="w-layout-cell">
          <h4 class="titlefooter">NEWSLETTER</h4>
          <div class="linkfooter regular">Recibe promociones y descuentos especiales directamente en tu correo.</div>
          <div class="formulario-news w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get"
              class="newsform w-clearfix" data-wf-page-id="6667390ff463b82d886d3909"
              data-wf-element-id="a5f7fa89-a91d-90ee-415b-86a697130b6c"><input class="inputsuscriptor w-input"
                maxlength="256" name="Email-2" data-name="Email 2" placeholder="Ingresa tu correo aquí" type="email"
                id="Email-2" required=""><input type="submit" data-wait="Espera..." class="suscribir-btn w-button"
                value="Suscribirme"></form>
            <div class="w-form-done"></div>
            <div class="w-form-fail"></div>
          </div>
        </div>
        <div id="w-node-a5f7fa89-a91d-90ee-415b-86a697130b71-97130b61" class="w-layout-cell">
          <h4 class="titlefooter">CONTACTO</h4>
          <ul role="list" class="fotoerlist">
            <li class="itemlista">
              <a href="mailto:padnnutrition@contact.mx?subject=Tienda%20en%20l%C3%ADnea%20PADN"
                class="linkfooter">padnnutrition@contact.mx</a>
            </li>
          </ul>
        </div>
        <div id="w-node-a5f7fa89-a91d-90ee-415b-86a697130b78-97130b61" class="w-layout-cell">
          <h4 class="titlefooter">NOSOTROS</h4>
          <ul role="list" class="fotoerlist">
            <li class="itemlista">
              <a href="#" class="linkfooter">Aviso de Privacidad</a>
            </li>
            <li class="itemlista">
              <a href="#" class="linkfooter">Cambios y devoluciones</a>
            </li>
            <li class="itemlista">
              <a href="#" class="linkfooter">Términos y condiciones</a>
            </li>
          </ul>
        </div>
        <div id="w-node-a5f7fa89-a91d-90ee-415b-86a697130b85-97130b61" class="w-layout-cell">
          <h4 class="titlefooter">MI CUENTA</h4>
          <ul role="list" class="fotoerlist">
            <li class="itemlista">
              <a href="#" class="linkfooter">Registro</a>
            </li>
            <li class="itemlista">
              <a href="#" class="linkfooter">Carrito</a>
            </li>
            <li class="itemlista">
              <a href="#" class="linkfooter">Pedidos</a>
            </li>
            <li class="itemlista">
              <a href="#" class="linkfooter">Direcciones</a>
            </li>
          </ul>
        </div>
      </div><img src="{{ " logos-pagos.png" | asset_url }}"alt="" class="pagosfooter">
      <div class="copyrightfooter">© PADN · Todos los derechos reservados · Designed &amp; Developed <a
          href="https://www.kubodigital.mx" target="_blank" class="kdlink">Kubo Digital</a>
      </div>
    </div>
  </div>
</footer>


{% schema %}
{
"name": "t:sections.footer.name",
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "Logo del footer"
},
{
"type": "header",
"content": "Menus"
},
{
"type": "link_list",
"id": "menu_1",
"default": "footer",
"label": "Menu Columna 1",
"info": "t:sections.footer.blocks.link_list.settings.menu.info"
},
{
"type": "link_list",
"id": "menu_2",
"default": "footer",
"label": "Menu Columna 2",
"info": "t:sections.footer.blocks.link_list.settings.menu.info"
},
{
"type": "header",
"content": "Redes Sociales"
}, {
"type": "text",
"id": "instagram",
"label": "Instagram"
}, {
"type": "text",
"id": "facebook",
"label": "Facebook"
}, {
"type": "text",
"id": "youtube",
"label": "Youtube"
},
{
"type": "header",
"content": "Suscripción"
}, {
"type": "textarea",
"id": "description-subscription",
"label": "Texto de descripción"
},
{
"type": "header",
"content": "Certificados de la tienda"
}, {
"type": "image_picker",
"id": "img_certificado_1",
"label": "Imagen 1"
},
{
"type": "image_picker",
"id": "img_certificado_2",
"label": "Imagen 2"
},
{
"type": "header",
"content": "Metodos de Pago"
}, {
"type": "image_picker",
"id": "logo_payment",
"label": "Imagen Metodos de Pago"
}
]
}
{% endschema %}