<div class="seccinstafeed">
  <div class="custom-container"></div>
</div>

{% schema %}
{
"name": "Instagram Banner",
"class": "index-section",
"presets": [
{
"name": "Instagram Banner"
}
]
}
{% endschema %}