<div class="seccinstagram">
  <div class="custom-container">
    <div class="titlecontainer">
      <h6 class="mainsecctitle">Síguenos <strong class="boldtitles">@bomucamx</strong></h6>
    </div>
    <div class="w-embed"></div>
  </div>
</div>


{% schema %}
{
"name": "Instagram Banner",
"class": "index-section",
"presets": [
{
"name": "Instagram Banner"
}
]
}
{% endschema %}