<div class="secctiendasoficiales">
  <div class="custom-container">
    <div id="w-node-_536fd8d5-3d21-cf38-2caf-69d4af28366e-ba5351bb" class="w-layout-layout stack-stores wf-layout-layout">
      <div id="w-node-_536fd8d5-3d21-cf38-2caf-69d4af28366f-ba5351bb" class="w-layout-cell cellcolorstores">
        <div class="storehours">
          <h5 class="store-name white">TIENDAS OFICIALES</h5>
          <p class="infotiendas">Visita cualquiera de nuestras sucursales en nuestros distintos horarios:<br><br>Lunes a Viernes: <br>10:00 am - 06:00 pm<br><br>Sábados y Domingos<br>10:00 am - 04:00 pm</p>
        </div>
      </div>
      <div id="w-node-_536fd8d5-3d21-cf38-2caf-69d4af283670-ba5351bb" class="w-layout-cell cellinfomaps">
        <div data-delay="4000" data-animation="slide" class="stores-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
          <div class="w-slider-mask">
            <div class="storeslide w-slide">
              <div class="containerstore-item">
                <h5 class="store-name">TIENDA ESTADIO</h5>
                <p class="storeadress">Constituyentes Pte 1000, Barrio de San Bernardino, 50080 Toluca de Lerdo, Méx.</p>
                <a href="https://maps.app.goo.gl/S1MNQsiBbvRhmTR19" target="_blank" class="linkmap w-inline-block"><img src="{{ "tienda_estadio.jpg" | asset_url }}"   alt="" class="mapimg"></a>
                <a href="https://www.google.com/maps/dir//Tienda+Oficial+Deportivo+Toluca+F.C.,+Constituents+Pte+1000,+Barrio+de+San+Bernardino,+50080+Toluca+de+Lerdo,+M%C3%A9x./@19.287445,-99.665418,15z/data=!4m9!4m8!1m0!1m5!1m1!1s0x85cd89b87130c845:0x22a4111f0af40e6d!2m2!1d-99.6654656!2d19.2874443!3e0?hl=es-419&amp;entry=ttu" target="_blank" class="btntienda w-button">CÓMO LLEGAR</a>
              </div>
            </div>
            <div class="storeslide w-slide">
              <div class="containerstore-item">
                <h5 class="store-name">TIENDA CENTRO TOLZÚ</h5>
                <p class="storeadress">Av. Miguel Hidalgo Ote. 203, Barrio de Sta Clara, 50090 Toluca de Lerdo, Méx.</p>
                <a href="https://maps.app.goo.gl/6LpYWJpSuCkLqiF67" target="_blank" class="linkmap w-inline-block"><img src="{{ "tienda_centro_tolzu.jpg" | asset_url }}"   alt="" class="mapimg"></a>
                <a href="https://www.google.com/maps/dir//Av.+Miguel+Hidalgo+Ote.+203,+Barrio+de+Sta+Clara,+50090+Toluca+de+Lerdo,+M%C3%A9x./@19.2905079,-99.6528149,18.67z/data=!4m9!4m8!1m0!1m5!1m1!1s0x85cd89eb4070d823:0xad09dc0396b0116f!2m2!1d-99.6521889!2d19.290124!3e0?entry=ttu" target="_blank" class="btntienda w-button">CÓMO LLEGAR</a>
              </div>
            </div>
            <div class="storeslide w-slide">
              <div class="containerstore-item">
                <h5 class="store-name">TIENDA AEROPUERTO</h5>
                <p class="storeadress">San Pedro Totoltepec, 50226 Toluca de Lerdo, Méx.</p>
                <a href="https://maps.app.goo.gl/iZVMNvwdAzubMGRZA" target="_blank" class="linkmap w-inline-block"><img src="{{ "tienda_aeropuerto.jpg" | asset_url }}"   alt="" class="mapimg"></a>
                <a href="#https://www.google.com/maps/dir//Aeropuerto+Internacional+de+Toluca+-+AIT,+San+Pedro+Totoltepec,+50226+Toluca+de+Lerdo,+M%C3%A9x./@19.338386,-99.571042,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x85cd8a9c1bd3d19f:0x32b410ec2b6e1e99!2m2!1d-99.5710424!2d19.3383861!3e0?hl=es-419&amp;entry=ttu" target="_blank" class="btntienda w-button">CÓMO LLEGAR</a>
              </div>
            </div>
          </div>
          <div class="storesarrow w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="storesarrow w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="navigationdots stores w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema  %}
{
  "name": "Sucursales",
  "settings": [],
  "max_blocks": 3,
  "blocks": [
     {
      "type": "map",
      "name": "Tienda",
      "settings": []
     }
   ]
}
{% endschema %}