  
  <div class="seccproductos">
    <div class="custom-container">
      <div class="titlecontainer">
        <h1 class="mainsecctitle">¡Los más vendidos!</h1>
      </div>
      <div data-delay="4000" data-animation="slide" class="product-sliderbase w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
          <div class="slide-producto w-slide">
            <div class="container-producto">
              <div class="etiquetas-prod">NUEVO</div>
              <div class="etiquetas-prod oferta">25% OFF</div>
              <a href="#" class="linkproducto w-inline-block">
                <div class="imgback"></div>
                <div class="imgfront"></div>
              </a>
              <div class="container-titleandtags">
                <div class="etiquetas-prod agotado">AGOTADO</div>
                <a href="#" class="nombre-producto">4 Emplayes, Strech, Película Elástica 18 X700 Ft Calibre 50</a>
              </div>
              <div class="precios-container">
                <div class="precio-regular">$ 1,400.00</div>
                <div class="precio-oferta">$ 995.00</div>
              </div>
              <div class="quickaddcont">
                <div class="form-block w-form">
                  <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="formcantminiatura" data-wf-page-id="667c5aedfac71ab99ad7c4e7" data-wf-element-id="a5c3bbef-2883-4507-77a8-2ce3e1416698">
                    <div class="cont-variacion miniatura w-clearfix">
                      <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2">
                      <a href="#" class="boton_cant mas miniatura w-button">+</a>
                    </div>
                    <div class="btn-vip miniatura">
                      <div>Agregar</div>
                    </div>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-producto w-slide">
            <div class="container-producto">
              <div class="etiquetas-prod">NUEVO</div>
              <div class="etiquetas-prod oferta">25% OFF</div>
              <a href="#" class="linkproducto w-inline-block">
                <div class="imgback"></div>
                <div class="imgfront"></div>
              </a>
              <div class="container-titleandtags">
                <div class="etiquetas-prod agotado">AGOTADO</div>
                <a href="#" class="nombre-producto">4 Emplayes, Strech, Película Elástica 18 X700 Ft Calibre 50</a>
              </div>
              <div class="precios-container">
                <div class="precio-regular">$ 1,400.00</div>
                <div class="precio-oferta">$ 995.00</div>
              </div>
              <div class="quickaddcont">
                <div class="form-block w-form">
                  <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="formcantminiatura" data-wf-page-id="667c5aedfac71ab99ad7c4e7" data-wf-element-id="f98c81d4-c67b-0ffb-0b20-1bdbacf576f9">
                    <div class="cont-variacion miniatura w-clearfix">
                      <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2">
                      <a href="#" class="boton_cant mas miniatura w-button">+</a>
                    </div>
                    <div class="btn-vip miniatura">
                      <div>Agregar</div>
                    </div>
                  </form>
                  <div class="w-form-done"></div>
                  <div class="w-form-fail"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="products-slidenav w-slider-nav w-round"></div>
      </div>
      <div class="code-embed w-embed">
        <div class="owl-carousel productosowl owl-theme" id="sync2">
          <div class="container-producto">
            <div class="etiquetas-prod">NUEVO</div>
            <div class="etiquetas-prod oferta">25% OFF</div>
            <a href="#" class="linkproducto w-inline-block">
              <div class="imgback"></div>
              <div class="imgfront"></div>
            </a>
            <div class="container-titleandtags">
              <div class="etiquetas-prod agotado">AGOTADO</div>
              <a href="#" class="nombre-producto">4 Emplayes, Strech, Película Elástica 18 X700 Ft Calibre 50</a>
            </div>
            <div class="precios-container">
              <div class="precio-regular">$ 1,400.00</div>
              <div class="precio-oferta">$ 995.00</div>
            </div>
            <div class="quickaddcont">
              <div class="form-block w-form">
                <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="formcantminiatura" data-wf-page-id="667c5aedfac71ab99ad7c4e7" data-wf-element-id="a5c3bbef-2883-4507-77a8-2ce3e1416698" aria-label="Email Form">
                  <div class="cont-variacion miniatura w-clearfix">
                    <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2">
                    <a href="#" class="boton_cant mas miniatura w-button">+</a>
                  </div>
                  <div class="btn-vip miniatura">
                    <div>Agregar</div>
                  </div>
                </form>
                <div class="w-form-done" role="region" aria-label="Email Form success"></div>
                <div class="w-form-fail" role="region" aria-label="Email Form failure"></div>
              </div>
            </div>
          </div>
          <div class="container-producto">
            <div class="etiquetas-prod">NUEVO</div>
            <div class="etiquetas-prod oferta">25% OFF</div>
            <a href="#" class="linkproducto w-inline-block">
              <div class="imgback"></div>
              <div class="imgfront"></div>
            </a>
            <div class="container-titleandtags">
              <div class="etiquetas-prod agotado">AGOTADO</div>
              <a href="#" class="nombre-producto">4 Emplayes, Strech, Película Elástica 18 X700 Ft Calibre 50</a>
            </div>
            <div class="precios-container">
              <div class="precio-regular">$ 1,400.00</div>
              <div class="precio-oferta">$ 995.00</div>
            </div>
            <div class="quickaddcont">
              <div class="form-block w-form">
                <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="formcantminiatura" data-wf-page-id="667c5aedfac71ab99ad7c4e7" data-wf-element-id="a5c3bbef-2883-4507-77a8-2ce3e1416698" aria-label="Email Form">
                  <div class="cont-variacion miniatura w-clearfix">
                    <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2">
                    <a href="#" class="boton_cant mas miniatura w-button">+</a>
                  </div>
                  <div class="btn-vip miniatura">
                    <div>Agregar</div>
                  </div>
                </form>
                <div class="w-form-done" role="region" aria-label="Email Form success"></div>
                <div class="w-form-fail" role="region" aria-label="Email Form failure"></div>
              </div>
            </div>
          </div>
          <div class="container-producto">
            <div class="etiquetas-prod">NUEVO</div>
            <div class="etiquetas-prod oferta">25% OFF</div>
            <a href="#" class="linkproducto w-inline-block">
              <div class="imgback"></div>
              <div class="imgfront"></div>
            </a>
            <div class="container-titleandtags">
              <div class="etiquetas-prod agotado">AGOTADO</div>
              <a href="#" class="nombre-producto">4 Emplayes, Strech, Película Elástica 18 X700 Ft Calibre 50</a>
            </div>
            <div class="precios-container">
              <div class="precio-regular">$ 1,400.00</div>
              <div class="precio-oferta">$ 995.00</div>
            </div>
            <div class="quickaddcont">
              <div class="form-block w-form">
                <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="formcantminiatura" data-wf-page-id="667c5aedfac71ab99ad7c4e7" data-wf-element-id="a5c3bbef-2883-4507-77a8-2ce3e1416698" aria-label="Email Form">
                  <div class="cont-variacion miniatura w-clearfix">
                    <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2">
                    <a href="#" class="boton_cant mas miniatura w-button">+</a>
                  </div>
                  <div class="btn-vip miniatura">
                    <div>Agregar</div>
                  </div>
                </form>
                <div class="w-form-done" role="region" aria-label="Email Form success"></div>
                <div class="w-form-fail" role="region" aria-label="Email Form failure"></div>
              </div>
            </div>
          </div>
          <div class="container-producto">
            <div class="etiquetas-prod">NUEVO</div>
            <div class="etiquetas-prod oferta">25% OFF</div>
            <a href="#" class="linkproducto w-inline-block">
              <div class="imgback"></div>
              <div class="imgfront"></div>
            </a>
            <div class="container-titleandtags">
              <div class="etiquetas-prod agotado">AGOTADO</div>
              <a href="#" class="nombre-producto">4 Emplayes, Strech, Película Elástica 18 X700 Ft Calibre 50</a>
            </div>
            <div class="precios-container">
              <div class="precio-regular">$ 1,400.00</div>
              <div class="precio-oferta">$ 995.00</div>
            </div>
            <div class="quickaddcont">
              <div class="form-block w-form">
                <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="formcantminiatura" data-wf-page-id="667c5aedfac71ab99ad7c4e7" data-wf-element-id="a5c3bbef-2883-4507-77a8-2ce3e1416698" aria-label="Email Form">
                  <div class="cont-variacion miniatura w-clearfix">
                    <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2">
                    <a href="#" class="boton_cant mas miniatura w-button">+</a>
                  </div>
                  <div class="btn-vip miniatura">
                    <div>Agregar</div>
                  </div>
                </form>
                <div class="w-form-done" role="region" aria-label="Email Form success"></div>
                <div class="w-form-fail" role="region" aria-label="Email Form failure"></div>
              </div>
            </div>
          </div>
          <div class="container-producto">
            <div class="etiquetas-prod">NUEVO</div>
            <div class="etiquetas-prod oferta">25% OFF</div>
            <a href="#" class="linkproducto w-inline-block">
              <div class="imgback"></div>
              <div class="imgfront"></div>
            </a>
            <div class="container-titleandtags">
              <div class="etiquetas-prod agotado">AGOTADO</div>
              <a href="#" class="nombre-producto">4 Emplayes, Strech, Película Elástica 18 X700 Ft Calibre 50</a>
            </div>
            <div class="precios-container">
              <div class="precio-regular">$ 1,400.00</div>
              <div class="precio-oferta">$ 995.00</div>
            </div>
            <div class="quickaddcont">
              <div class="form-block w-form">
                <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="formcantminiatura" data-wf-page-id="667c5aedfac71ab99ad7c4e7" data-wf-element-id="a5c3bbef-2883-4507-77a8-2ce3e1416698" aria-label="Email Form">
                  <div class="cont-variacion miniatura w-clearfix">
                    <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2">
                    <a href="#" class="boton_cant mas miniatura w-button">+</a>
                  </div>
                  <div class="btn-vip miniatura">
                    <div>Agregar</div>
                  </div>
                </form>
                <div class="w-form-done" role="region" aria-label="Email Form success"></div>
                <div class="w-form-fail" role="region" aria-label="Email Form failure"></div>
              </div>
            </div>
          </div>
          <div class="container-producto">
            <div class="etiquetas-prod">NUEVO</div>
            <div class="etiquetas-prod oferta">25% OFF</div>
            <a href="#" class="linkproducto w-inline-block">
              <div class="imgback"></div>
              <div class="imgfront"></div>
            </a>
            <div class="container-titleandtags">
              <div class="etiquetas-prod agotado">AGOTADO</div>
              <a href="#" class="nombre-producto">4 Emplayes, Strech, Película Elástica 18 X700 Ft Calibre 50</a>
            </div>
            <div class="precios-container">
              <div class="precio-regular">$ 1,400.00</div>
              <div class="precio-oferta">$ 995.00</div>
            </div>
            <div class="quickaddcont">
              <div class="form-block w-form">
                <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="formcantminiatura" data-wf-page-id="667c5aedfac71ab99ad7c4e7" data-wf-element-id="a5c3bbef-2883-4507-77a8-2ce3e1416698" aria-label="Email Form">
                  <div class="cont-variacion miniatura w-clearfix">
                    <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2">
                    <a href="#" class="boton_cant mas miniatura w-button">+</a>
                  </div>
                  <div class="btn-vip miniatura">
                    <div>Agregar</div>
                  </div>
                </form>
                <div class="w-form-done" role="region" aria-label="Email Form success"></div>
                <div class="w-form-fail" role="region" aria-label="Email Form failure"></div>
              </div>
            </div>
          </div>
          <div class="container-producto">
            <div class="etiquetas-prod">NUEVO</div>
            <div class="etiquetas-prod oferta">25% OFF</div>
            <a href="#" class="linkproducto w-inline-block">
              <div class="imgback"></div>
              <div class="imgfront"></div>
            </a>
            <div class="container-titleandtags">
              <div class="etiquetas-prod agotado">AGOTADO</div>
              <a href="#" class="nombre-producto">4 Emplayes, Strech, Película Elástica 18 X700 Ft Calibre 50</a>
            </div>
            <div class="precios-container">
              <div class="precio-regular">$ 1,400.00</div>
              <div class="precio-oferta">$ 995.00</div>
            </div>
            <div class="quickaddcont">
              <div class="form-block w-form">
                <form id="email-form" name="email-form" data-name="Email Form" redirect="/pages/guia-de-tallas" data-redirect="/pages/guia-de-tallas" method="get" class="formcantminiatura" data-wf-page-id="667c5aedfac71ab99ad7c4e7" data-wf-element-id="a5c3bbef-2883-4507-77a8-2ce3e1416698" aria-label="Email Form">
                  <div class="cont-variacion miniatura w-clearfix">
                    <a href="#" class="boton_cant miniatura w-button">-</a><input class="cantidad-input w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="1" type="text" id="field-2">
                    <a href="#" class="boton_cant mas miniatura w-button">+</a>
                  </div>
                  <div class="btn-vip miniatura">
                    <div>Agregar</div>
                  </div>
                </form>
                <div class="w-form-done" role="region" aria-label="Email Form success"></div>
                <div class="w-form-fail" role="region" aria-label="Email Form failure"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% schema %}
{
"name": "Carrusel de productos",
"class": "index-section",
"settings": [
{
"type": "text",
"id": "title",
"label": "Titulo de seccion",
"default": "¡Los más <strong class='boldtitles'>vendidos</strong>"
},
{
"id": "collection_1",
"type": "collection",
"label": "Colección"
},
{
"type": "range",
"id": "range_prod_1",
"label": "No. de Productos",
"min": 1,
"max": 12,
"step": 1,
"default": 2
}
],
"presets":[{
"name":"Carrusel de productos"
}]
}
{% endschema %}