<div class="seccdestacados">
  <div class="custom-container">
    <div class="maintitle-cont">
      <h2 class="maintitle">PRODUCTOS <span class="redtxttitle">DESTACADOS</span></h2>
    </div>
    <div data-delay="4000" data-animation="slide" class="product-sliderbase w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
      <div class="w-slider-mask">
        <div class="slide-producto w-slide">
          <div class="container-producto">
            <div class="contimgproducto">
              <div class="etiquetas-prod nuevo">NUEVO</div>
              <a href="#" class="linkproducto w-inline-block">
                <div class="imgback"></div>
                <div class="imgfront"></div>
              </a>
            </div>
            <div class="container-titleandprices">
              <a href="#" class="nombre-producto">Jersey Local New Balance</a>
              <div class="precios-container">
                <div class="precio-regular">$1,009.00</div>
              </div>
              <div class="contreviews"></div>
              <a href="#" class="btnagregar w-button">COMPRAR</a>
            </div>
          </div>
        </div>
        <div class="slide-producto w-slide">
          <div class="container-producto">
            <div class="contimgproducto">
              <div class="etiquetas-prod nuevo">NUEVO</div>
              <a href="#" class="linkproducto w-inline-block">
                <div class="imgback"></div>
                <div class="imgfront"></div>
              </a>
            </div>
            <div class="container-titleandprices">
              <a href="#" class="nombre-producto">Jersey Local New Balance</a>
              <div class="precios-container">
                <div class="precio-regular">$1,009.00</div>
              </div>
              <div class="contreviews"></div>
              <a href="#" class="btnagregar w-button">COMPRAR</a>
            </div>
          </div>
        </div>
        <div class="slide-producto w-slide">
          <div class="container-producto">
            <div class="contimgproducto">
              <div class="etiquetas-prod agotado">AGOTADO</div>
              <a href="#" class="linkproducto w-inline-block">
                <div class="imgback"></div>
                <div class="imgfront"></div>
              </a>
            </div>
            <div class="container-titleandprices">
              <a href="#" class="nombre-producto">Jersey Local New Balance</a>
              <div class="precios-container">
                <div class="precio-regular">$1,009.00</div>
              </div>
              <div class="contreviews"></div>
              <a href="#" class="btnagregar w-button">COMPRAR</a>
            </div>
          </div>
        </div>
        <div class="slide-producto w-slide">
          <div class="container-producto">
            <div class="contimgproducto">
              <div class="etiquetas-prod oferta">-25%</div>
              <a href="#" class="linkproducto w-inline-block">
                <div class="imgback"></div>
                <div class="imgfront"></div>
              </a>
            </div>
            <div class="container-titleandprices">
              <a href="#" class="nombre-producto">Jersey Local New Balance</a>
              <div class="precios-container">
                <div class="precio-regular">$1,009.00</div>
                <div class="precio-oferta">$1,239.00</div>
              </div>
              <div class="contreviews"></div>
              <a href="#" class="btnagregar w-button">COMPRAR</a>
            </div>
          </div>
        </div>
        <div class="slide-producto w-slide">
          <div class="container-producto">
            <div class="contimgproducto">
              <div class="etiquetas-prod oferta">-25%</div>
              <a href="#" class="linkproducto w-inline-block">
                <div class="imgback"></div>
                <div class="imgfront"></div>
              </a>
            </div>
            <div class="container-titleandprices">
              <a href="#" class="nombre-producto">Jersey Local New Balance</a>
              <div class="precios-container">
                <div class="precio-regular">$1,009.00</div>
                <div class="precio-oferta">$1,239.00</div>
              </div>
              <div class="contreviews"></div>
              <a href="#" class="btnagregar w-button">COMPRAR</a>
            </div>
          </div>
        </div>
        <div class="slide-producto w-slide">
          <div class="container-producto">
            <div class="contimgproducto">
              <div class="etiquetas-prod agotado">AGOTADO</div>
              <a href="#" class="linkproducto w-inline-block">
                <div class="imgback"></div>
                <div class="imgfront"></div>
              </a>
            </div>
            <div class="container-titleandprices">
              <a href="#" class="nombre-producto">Jersey Local New Balance</a>
              <div class="precios-container">
                <div class="precio-regular">$1,009.00</div>
              </div>
              <div class="contreviews"></div>
              <a href="#" class="btnagregar w-button">COMPRAR</a>
            </div>
          </div>
        </div>
        <div class="slide-producto w-slide">
          <div class="container-producto">
            <div class="contimgproducto">
              <div class="etiquetas-prod agotado">AGOTADO</div>
              <a href="#" class="linkproducto w-inline-block">
                <div class="imgback"></div>
                <div class="imgfront"></div>
              </a>
            </div>
            <div class="container-titleandprices">
              <a href="#" class="nombre-producto">Jersey Local New Balance</a>
              <div class="precios-container">
                <div class="precio-regular">$1,009.00</div>
              </div>
              <div class="contreviews"></div>
              <a href="#" class="btnagregar w-button">COMPRAR</a>
            </div>
          </div>
        </div>
        <div class="slide-producto w-slide">
          <div class="container-producto">
            <div class="contimgproducto">
              <div class="etiquetas-prod oferta">-25%</div>
              <a href="#" class="linkproducto w-inline-block">
                <div class="imgback"></div>
                <div class="imgfront"></div>
              </a>
            </div>
            <div class="container-titleandprices">
              <a href="#" class="nombre-producto">Jersey Local New Balance</a>
              <div class="precios-container">
                <div class="precio-regular">$1,009.00</div>
                <div class="precio-oferta">$1,239.00</div>
              </div>
              <div class="contreviews"></div>
              <a href="#" class="btnagregar w-button">COMPRAR</a>
            </div>
          </div>
        </div>
      </div>
      <div class="productsliderarrow w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="productsliderarrow w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="products-slidenav w-slider-nav w-round"></div>
    </div>
    <div class="code-embed w-embed">
      <div class="owl-carousel productosowl owl-theme" id="sync2">
        <div class="container-producto">
          <div class="contimgproducto">
            <div class="etiquetas-prod nuevo">NUEVO</div>
            <a href="#" class="linkproducto w-inline-block">
              <div class="imgback"></div>
              <div class="imgfront"></div>
            </a>
          </div>
          <div class="container-titleandprices">
            <a href="#" class="nombre-producto">Jersey Local New Balance</a>
            <div class="precios-container">
              <div class="precio-regular">$1,009.00</div>
            </div>
            <div class="contreviews"></div>
            <a href="#" class="btnagregar w-button">COMPRAR</a>
          </div>
        </div>
        <div class="container-producto">
          <div class="contimgproducto">
            <div class="etiquetas-prod oferta">-25%</div>
            <a href="#" class="linkproducto w-inline-block">
              <div class="imgback"></div>
              <div class="imgfront"></div>
            </a>
          </div>
          <div class="container-titleandprices">
            <a href="#" class="nombre-producto">Jersey Local New Balance</a>
            <div class="precios-container">
              <div class="precio-regular">$1,009.00</div>
              <div class="precio-oferta">$1,239.00</div>
            </div>
            <div class="contreviews"></div>
            <a href="#" class="btnagregar w-button">COMPRAR</a>
          </div>
        </div>
        <div class="container-producto">
          <div class="contimgproducto">
            <div class="etiquetas-prod nuevo">NUEVO</div>
            <a href="#" class="linkproducto w-inline-block">
              <div class="imgback"></div>
              <div class="imgfront"></div>
            </a>
          </div>
          <div class="container-titleandprices">
            <a href="#" class="nombre-producto">Jersey Local New Balance</a>
            <div class="precios-container">
              <div class="precio-regular">$1,009.00</div>
            </div>
            <div class="contreviews"></div>
            <a href="#" class="btnagregar w-button">COMPRAR</a>
          </div>
        </div>
        <div class="container-producto">
          <div class="contimgproducto">
            <div class="etiquetas-prod agotado">AGOTADO</div>
            <a href="#" class="linkproducto w-inline-block">
              <div class="imgback"></div>
              <div class="imgfront"></div>
            </a>
          </div>
          <div class="container-titleandprices">
            <a href="#" class="nombre-producto">Jersey Local New Balance</a>
            <div class="precios-container">
              <div class="precio-regular">$1,009.00</div>
            </div>
            <div class="contreviews"></div>
            <a href="#" class="btnagregar w-button">COMPRAR</a>
          </div>
        </div>
        <div class="container-producto">
          <div class="contimgproducto">
            <div class="etiquetas-prod oferta">-25%</div>
            <a href="#" class="linkproducto w-inline-block">
              <div class="imgback"></div>
              <div class="imgfront"></div>
            </a>
          </div>
          <div class="container-titleandprices">
            <a href="#" class="nombre-producto">Jersey Local New Balance</a>
            <div class="precios-container">
              <div class="precio-regular">$1,009.00</div>
              <div class="precio-oferta">$1,239.00</div>
            </div>
            <div class="contreviews"></div>
            <a href="#" class="btnagregar w-button">COMPRAR</a>
          </div>
        </div>
        <div class="container-producto">
          <div class="contimgproducto">
            <div class="etiquetas-prod agotado">AGOTADO</div>
            <a href="#" class="linkproducto w-inline-block">
              <div class="imgback"></div>
              <div class="imgfront"></div>
            </a>
          </div>
          <div class="container-titleandprices">
            <a href="#" class="nombre-producto">Jersey Local New Balance</a>
            <div class="precios-container">
              <div class="precio-regular">$1,009.00</div>
            </div>
            <div class="contreviews"></div>
            <a href="#" class="btnagregar w-button">COMPRAR</a>
          </div>
        </div>
        <div class="container-producto">
          <div class="contimgproducto">
            <div class="etiquetas-prod oferta">-25%</div>
            <a href="#" class="linkproducto w-inline-block">
              <div class="imgback"></div>
              <div class="imgfront"></div>
            </a>
          </div>
          <div class="container-titleandprices">
            <a href="#" class="nombre-producto">Jersey Local New Balance</a>
            <div class="precios-container">
              <div class="precio-regular">$1,009.00</div>
              <div class="precio-oferta">$1,239.00</div>
            </div>
            <div class="contreviews"></div>
            <a href="#" class="btnagregar w-button">COMPRAR</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema  %}
{
  "name": "Carrusel de productos",
  "settings": []
}
{% endschema %}