  <div class="seccvideo">
    <div class="custom-container">
      {% if section.settings.video-chanel == 'youtubevideo' %}
        <div style="padding-top:56.17021276595745%" class="w-embed-youtubevideo iframyoutube">
          <iframe src="{{ section.settings.Video_link }}" frameborder="0" style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto" allow="autoplay; encrypted-media" allowfullscreen="" title="Mat Pilates - Hombros y abdomen con Angelica Reyes"></iframe>
        </div>
      {% endif %}

      {% if section.settings.video-chanel == 'shopifyvideo' %}
        <div class="videolibreriashopify w-embed w-iframe">
          <iframe style="position: absolute; top: 0px; left: 0px;" width="100%" height="100%" src="{{ section.settings.Video_link-2.sources[1].url }}" title="Champion" frameborder="0" allow="accelerometer; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
        </div>
      {% endif %}
    </div>
  </div>

{% schema %}
{
"name": "t:sections.video.name",
"tag": "section",
"class": "section",
"disabled_on": {
"groups": ["header", "footer"]
},
"settings": [
{
"type": "radio",
"id": "video-chanel",
"label": "Video",
"options": [
{
"value": "youtubevideo",
"label": "Youtube"
},
{
"value": "shopifyvideo",
"label": "Shopify"
}
],
"default": "youtubevideo"
},
{
"type": "text",
"id": "Video_link",
"label": "Video de youtube",
"info": "Su URL debe tener la siguiente estructura: https://www.youtube.com/embed/"
},
{
"type":"video",
"id": "Video_link-2",
"label": "Video de Shopify"
}
],
"presets": [
{
"name": "t:sections.video.presets.name"
}
]
}
{% endschema %}