<div class="seccgarantias">
  <div class="custom-container">
    <h2 class="maintitle">Compras fáciles y seguras</h2>
    <div data-delay="4000" data-animation="cross" class="slidergarantias w-slider" data-autoplay="true"
      data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0"
      data-nav-spacing="3" data-duration="500" data-infinite="true">
      <div class="maskgarantias w-slider-mask">
        <div class="slideg w-slide">
          <div class="infogarantia"><img width="35" src="{{ "iconb_pagos.svg" | asset_url }}" class="img-garantia">
            <h3 class="titlegarantia">Paga con tarjeta o efectivo</h3>
            <div class="txtgarantia">Tenemos múltiples métodos de pago para tu comodidad.</div>
          </div>
        </div>
        <div class="slideg w-slide">
          <div class="infogarantia"><img width="30" src="{{ "icon_envios.svg" | asset_url }}"  class="img-garantia">
            <h3 class="titlegarantia">Envíos gratis en productos seleccionados</h3>
            <div class="txtgarantia">Envíos seguros a todo México hasta la puerta de tu casa.</div>
          </div>
        </div>
        <div class="slideg w-slide">
          <div class="infogarantia"><img width="35" src="{{ "icobn_seguridad.svg" | asset_url }}"  class="img-garantia">
            <h3 class="titlegarantia">Compra protegida</h3>
            <div class="txtgarantia">Todos tus pagos son 100% seguros.</div>
          </div>
        </div>
      </div>
      <div class="arrowmainslider garantia w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="arrowmainslider garantia w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="navgarantias w-slider-nav w-round"></div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "Garantias",
"class": "index-section",
"presets": [
{
"name": "Garantias",
"category": "info"
}
]
}
{% endschema %}