.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.totals *{
  font-family: Roboto, sans-serif;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
  font-size: 16px;
  font-weight: 600;
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__subtotal-value {
  font-size: 16px;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

.totals.envio {
  margin-top: 20px;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: flex-end;
  }
}
