.pbutton {
  height: 36px;
  width: 130px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: transparent;
  display: inline-block;
  margin: .7rem .5rem .2rem 0;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  line-height: 1;
  text-align: center;
  transition: border var(--duration-short) ease;
  cursor: pointer;
}

.checked,.pbutton:hover{
  background-color: black;
  color: white;
}

.plabel {
  width: 100%;
  display: block;
  font-size: 1.8rem;
  letter-spacing: .04rem;
}

.pinput {
  width: 140px;
  height: 40px;
}

.contSupText {
  height: 350px!important;
  width: 238px!important;
  position: absolute!important;
  top: 95px!important;
  left: 33%!important;
}

.supText {
  color: #fff;
  font-size: 60px;
  letter-spacing: 10px;
  margin: 0;
  text-align: center;
  overflow: hidden;
}
.supNum {
  color: #fff;
  font-size: 150px;
  margin: 0;
  line-height: 174px;
  text-align: center;
  position: absolute;
  height: 55%;
  width: 68%;
  top: 108px;
  left: 17%;
  overflow: hidden;
}

.username {
  width: 70px;
  font-size: 19px;
  margin-left: 30px;
}

.btncont{
  
}